version: '3'
services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - .:/src/app
      - /src/app/node_modules
    ports:
        - "3000:3000"
    environment:
      - NODE_ENV=development